.top_header{
    display: flex;
    background-color: rgb(133, 190, 240);
    height: 40px;
}
.img_info{
    height: 40px;
    border-radius: 5px;
}

.right_header{
   width: 70%;
}
.input_search{
    align-items: center;
    margin-top: 7px;
    border-radius: 5px !important;
    border: none !important;
    
}
.left_header{
    width: 30%;
}

.navbar-nav{
    align-items: flex-end !important;
}
/* 
.carousel-inner{
    display: flex;
    width: 1000px;
    height: 700px;
    align-items: center;
    padding: left 80px; 
    
} */
.see_img{
    max-height: 300px;
    overflow:hidden;
    /* align-items: center !important; */
    width: 100%;
    min-height: 150px;
    
}
.new_img{
    /* x-index: -1; */

}
.bg_col{
    /* color: red; */
    /* background-color: rgb(7, 7, 251); */
}
.row{
    padding: 30px;
}
.footer{
    /* align-items: center;
    justify-items: center; */
    text-align: center;
}
.baner{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

 }
 .baner > div{
    width: 300px;
    height: 500px;
    overflow: hidden;
    padding: 10px;
 } 
 footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: skyblue;
    height: 40px;
    padding-top: 10px;
 }